{% extends "template.html" %}

{% load static %}

{% block content %}
    <!--Section: Block Content-->
    <section class="mb-5" style="margin-top: 10%;">

    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox">
          <div class="row product-gallery mx-1">
            <div class="col-12 mb-0">
              <figure class="view overlay rounded z-depth-1 main-img">
                  <img src="{% static product.Picture %}" class="img-fluid z-depth-1">
                  
              </figure>
            </div>
          </div>
        </div>
  
      </div>
      <div class="col-md-6">
        <h5>{{product.Name}}</h5>
        <p class="mb-2 text-muted text-uppercase small">{{product.Category}}</p>
        <p><span class="mr-1"><strong>${{product.Price}}</strong></span></p>
        <p class="pt-1">{{product.Description}}</p>
        <hr>

        <div class="w-25">
            <label class="form-label" for="typeNumber">Quantity</label>
            <input class="form-control text-center" min="0" name="quantity" value="1" type="number" id="typeNumber">
        </div>

        <hr>
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
        <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
      </div>
    </div>
  
  </section>
  <!--Section: Block Content-->
{% endblock %}